In [7]:
%tensorflow_version 1.x

TensorFlow 1.x selected.

In [8]:
import math
import numpy as np
import pandas as pd

#이미지 기반 세포수 환산
40x 이미지에서 얻은 세포수를 전체 배양접시 내 세포수로 환산

###40x image에서 얻은 Class A, B, C의 세포 수를 각각 다음의 변수에 할당함  

x40Na   
x40Nb   
x40Nc   

###100 mm dish를 기준으로 표시된 세포 수는 다음과 같음

NA = 2055.957 * 40xNa   
NB = 2055.957 * 40xNb   
NC = 2055.957 * 40xNc

In [9]:
#얻은 세포 수 (아래의 세포 수는 영상인식 후 얻은 각 클래스에 해당하는 세포 수를 받아 할당)
x40Na = 107
x40Nb = 4
x40Nc = 8

#100 mm dish를 기준으로 세포 수 환산

NA = 2055.957 * x40Na   
NB = 2055.957 * x40Nb   
NC = 2055.957 * x40Nc   

print(NA, NB, NC)

219987.39899999998 8223.828 16447.656

#노화세포%

In [10]:
# x40 image에서 얻은 노화 세포% = aged_cell%_x40

aged_cell_ratio = 100*((2.65809*NB)+(1.30859*NC))/((3.77126*NA)+(2.65809*NB)+(1.30859*NC))

aged_cell_ratio

4.969334183336438

#계대 시점 도달 예상 소요시간

In [11]:
#days_to_passage = ((NC/(NA+NB+NC))-0.3142)/0.037
#days_to_passage
#실험값에 fitting 된 식은 위와 같으나, C%가 극히 낮으면 음수가 출력되는 에러가 생김
#C%의 범위에 따라 조건적인 계산식 수립 필요

In [17]:
#C% 조건에 따른 기간 산정방법 달리하여 조건문 이용해 값 할당해서 출력
#아래 코드 수정 필요
def expected_duration():
      if (NC/(NA+NB+NC)) > 0.3142: 
         days_to_passage = ((NC/(NA+NB+NC))-0.3142)/0.037
      elif (NC/(NA+NB+NC)) <= 0.3142:
         days_to_passage = 1460/((3.77126*x40Na)+(2.65809*x40Nb))
      return days_to_passage

print("예상 계대 시점:", days_to_passage)

NameError: ignored

x40 Image에서 full confluence에 도달했을 때 이미지 내 세포수: 1460개 (polygonal cell 기준)

#예상 세포 수율

In [31]:
expected_cell_yield = 13.6541*NA + 6.31198*NB - 2.477*NC
print(expected_cell_yield)

3014897.7386333398

#세포 활성 등급

In [34]:
def activity_grade():

   activity_value = NA/(NB+NC)

   if actiity_value >= 0.8:
     culture_grade = Grade_A
     print("Culture grade: Grade A")

   elif activity_value >= 0.6:
     culture_grade = B
     print("Culture grade: Grade B")

   elif activity_value >= 0.4:
     culture_grade = C
     print("Culture grade: Grade C")

   elif activity_value >= 0.2:
     culture_grade = D
     print("Culture grade: Grade D")

   elif activity_value < 0.2:
     culture_grade = E
     print("Culture grade: Grade E")

activity_grade