#Evaluatin of cell growth tendency according to cell morphology  

A: number of cells in Class "polygonal"  
B: number of cells in Class "small"  
C: number of cells in Class "spread"  
(Disregard the other classes)

In [ ]:
%tensorflow_version 1.x

In [1]:
import math
import numpy as np
import pandas as pd

###Mathmatical model for cell expansion by in vitro culture  
A: Number of initial cell seeding  
D: Cell yield at passage

A * 2**x = D

<b>Polygonal cell만 있다고 가정할 때</b>  

<i> Cell body가 큰 경우 (species-dependent trait-hMSCs or rabbitMSCs)</i>  
A = 5 * 10^5   
D = 2 * 10^6  
x = 2

<i>Cell body가 작은경우 (mouse MSCs?)</i>  
A = 5 * 10^5   
D = 4 * 10^6  
x = 3


<b>3가지 형태의 cell이 섞여있다고 가정할 때</b>  

A: ratio of polygonal cells (less than 16 hr after seeding)  
B: ratio of small cells  
C: ratio of spread cells  
D: Cell yield at passage  
T: Days needed to reach confluence  

X: 2^x  
Y: 2^y  
Z: 2^z  

A*X + B*Y + C*Z = D

#배양기간 고려하지 않고 Cell yield로만 계산하면
(When D was not normalized by T)

**Cell yield = (a*X) + (b*Y) + (c*Z)**

In [2]:
X=16.97
Y=8.76
Z=1.42
print("x는 ", math.log(X, 2), "입니다")
print("y는 ", math.log(Y, 2), "입니다")
print("z는 ", math.log(Z, 2), "입니다")
print("2**x =",2**math.log(X, 2))
print("2**y =",2**math.log(Y, 2))
print("2**z =",2**math.log(Z, 2))

x는  4.084914659767938 입니다
y는  3.130930869826449 입니다
z는  0.5058909297299573 입니다
2**x = 16.97
2**y = 8.760000000000002
2**z = 1.42

In [ ]:
# Class 별 세포분열 경향 
# X=2**x
# Y=2**y
# Z=2**z

# Cell yield = (a*X) + (b*Y) + (c*Z)
# a: number of cells in Class "polygonal"
# b: number of cells in Class "small"
# c: number of cells in Class "spread"
# Disregard the other classes

x=4.0849
y=3.1309
z=0.5058

#Cell growth rate로 계산하면
(When D was normalized by T)  
Growth rate = (cell yield)/time  

**Cell yield/Time(days) = (a*X) + (b*Y) + (c*Z)**  
a: number of cells in Class "polygonal"  
b: number of cells in Class "small"  
c: number of cells in Class "spread"  
(Disregard the other classes)

In [3]:
X=7.95
Y=3.88
Z=3.09 #실제로 Z값은 단순 방정식으로 풀었기 때문에-3.09이나, 지수방정식을 풀기 위해 음수를 없애줌. 나중에 -2^z로 적용
print("x는 ", math.log(X, 2), "입니다")
print("y는 ", math.log(Y, 2), "입니다")
print("z는 ", math.log(Z, 2), "입니다")
print("2**x =",2**math.log(X, 2))
print("2**y =",2**math.log(Y, 2))
print("2**z =",2**math.log(Z, 2))

x는  2.990954860396993 입니다
y는  1.956056652412403 입니다
z는  1.6276068381296498 입니다
2**x = 7.95
2**y = 3.88
2**z = 3.09

In [ ]:
# Class 별 세포분열 경향 
# X=2**x 
# Y=2**y 
# Z=2**z 

# d/T = (a*X) + (b*Y) + (c*Z)
# a: number of cells in Class "polygonal"
# b: number of cells in Class "small"
# c: number of cells in Class "spread"
# d/T: cell yield per day

x=2.99
y=1.96
z=1.63

#Passage 별 data에 검산
<b> 예측 simulation</b>
- Passage 별 cell yield
- Confluence에 도달하는데 걸리는 시간
- 다음 passage의 quality

#Passage 경과에 따른 PDT 변화 요인 분석
###pandas로 data 상관계수 분석

In [4]:
growth_table = pd.read_csv("https://github.com/seeyourcells/ver_0.0/blob/master/lab/MSC_growth.csv?raw=true")
growth_table.index = ["Polygonal cell #", "Small cell #", "Spread cell #", "O (others)", "Yield", "Growth rate (/day)", "hrs_to_passage", "Polygonal & Small", "P&Sm/Sp", "ABO-C", "P&Sm-Sp", "A*B/C"]
gt1 = growth_table.transpose()
gt1

         Polygonal cell #  Small cell #  ...  P&Sm-Sp     A*B/C
Passage  Polygonal cell #  Small cell #  ...  P&Sm-Sp     A*B/C
P1                 2.1186        0.5564  ...   2.5814  0.563044
P2                 1.2423        0.2484  ...   0.6748  0.109587
P3                 0.4223        1.8349  ...   2.1602  0.369518

[4 rows x 12 columns]

In [5]:
gt1.drop('Passage')

   Polygonal cell # Small cell # Spread cell #  ...   ABO-C P&Sm-Sp     A*B/C
P1           2.1186       0.5564        2.0936  ...  3.2127  2.5814  0.563044
P2           1.2423       0.2484        2.8159  ...   0.868  0.6748  0.109587
P3           0.4223       1.8349         2.097  ...  2.3058  2.1602  0.369518

[3 rows x 12 columns]

In [6]:
gt1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Passage to P3
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Polygonal cell #    4 non-null      object
 1   Small cell #        4 non-null      object
 2   Spread cell #       4 non-null      object
 3   O (others)          4 non-null      object
 4   Yield               4 non-null      object
 5   Growth rate (/day)  4 non-null      object
 6   hrs_to_passage      4 non-null      object
 7   Polygonal & Small   4 non-null      object
 8   P&Sm/Sp             4 non-null      object
 9   ABO-C               4 non-null      object
 10  P&Sm-Sp             4 non-null      object
 11  A*B/C               4 non-null      object
dtypes: object(12)
memory usage: 576.0+ bytes

In [7]:
gt1.corr()

Empty DataFrame
Columns: []
Index: []

Dtype이 Object라서 corr() 함수 작동 안하는듯.. 객체 타입 변환 필요